.popup-overlay{
    height: 100vh;
    background: #00000042;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup-container{
    width: 600px;
    height: 400px;
    border-radius: 5px;
    background-color: #179c52;
    color: white;
    position: relative;
    border: 5px solid;

}
span{
    font-size: 10px;

}